@model MatchesGame_API.Models.Game

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <input asp-for="GameId" class="form-control" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchesStart" class="control-label"></label>
                <input asp-for="matchesStart" class="form-control" />
                <span asp-validation-for="matchesStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalMatches" class="control-label"></label>
                <input asp-for="totalMatches" class="form-control" />
                <span asp-validation-for="totalMatches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-page="/Game"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
